/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 12px;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 1rem;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.input {
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.f-label {
  display: flex;
  align-items: flex-start;
}

a:visited {
  color: inherit;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ccc;
  margin-top: 1rem;
  color: rgb(0, 30, 255);
  cursor: pointer;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  flex-direction: row-reverse;
}
